

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.home-header-container{
    height: 60px;

    .home-header-content{
        width: 1170px;
        height: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        .left-content{
            width: 20%;
            display: flex;
            align-items: center;

            .menu-homepage{
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }
            .header-logo{
                cursor: pointer;
                img{
                    height: 100px;
                }
            
            }
        }
        .center-content{
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content{
                b{
                    font-size: 14px;
                }
                .sub-title{
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }
        .right-content{
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .support{
                margin-right: 80px;
                font-size: 18px;
                position: relative;
            }

            .language-vi{
                padding-right: 5px;
                cursor: pointer;
                font-size: 18px;
            }
            .language-en{
                padding-left: 5px;
            }
            .has-dropdown {
                position: relative;
                list-style-type: none;
                &:hover .sub-menu{
                    display: block;
                }
                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                }
                .sub-menu {
                    z-index: 100000;
                    display: none;
                    position: absolute;
                    top: 27px;
                    background-color: #fff;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    border-radius: 5px;
                    min-width: 170px;
                    box-shadow: 6px 6px 20px 6px rgba(143, 143, 143, 0.19);
                    li{
                        p{
                            padding: 8px 20px;
                            color: #333;
                            display: block;
                            font-size: 16px;
                            text-decoration: none; 
                            margin-bottom: 0px;
                        }
                        &:hover {
                            background-color: #e9e9e9;
                            border-radius: 5px;
                          }

                    }
                }

            }

        }

    }
}

.home-baner{
    background-image: 
    linear-gradient(rgba(83, 83, 83, 0.5),rgba(255, 255, 255, 0.0),rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1)), 
    url(https://www.prudential.com.vn/export/sites/prudential-vn/vi/.thu-vien/hinh-anh/pulse-nhip-song-khoe/song-khoe/2020/suc-khoe-tinh-than/bai-viet-ly-do-chung-ta-nen-hao-phong-voi-nu-cuoi-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 680px;

    .home-baner-up{
        height: 50%;
        margin-top: 60px;
        .title1{
            text-align: center;
            font-size: 26px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            color: white;
            margin-top: 30px;
        }
        .title2{
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            text-shadow: 1px 1px 1px #333;    
            color: white;
            margin-bottom: 15px;
        }
        .search{
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            background: #f7d800;
    
            .icon-search{
                margin: 0 5px;
                font-size: 20px;
                cursor: pointer;
            }
            input{
                height: 25px;
                width: 320px;
                padding-left: 5px;
                background: transparent;
                border: none;
                outline: none;
            }
            
        }
    }
    .home-baner-down{
        height: 50%;
        align-items: flex-end;

        .option{
            display: flex;
            justify-content: center;
            margin-top: 150px;

            .option-child{
                width: 150px;
                height: 112px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
               /*  cursor: pointer; */

                .icon-child{
                    display: flex;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: white;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); 
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
                .text-child{
                    font-weight: 500;

                }
                /* &:hover{
                    color: #49bce2;
                } */
            }
            
        }
    }
}

  

.Footer{
    height: 100px;
    width: 100%;
    background-color: #49bce2;
    .footer-content{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        p{
            color: #fff;
        }
        img{
            width: 40px;
            margin-right: 10px;
        }
    }
}

/*Detail doctor*/
.doctor-detail-container{
    .schedule-doctor{
        display: flex;
        max-height: 300px;
        margin-top: 30px;
        .schedule-doctor-left{
            flex: 1;

        }
        .schedule-doctor-right{
            flex: 1;
            border-left: 1px solid #e9e9e9;
        }
    
    }
    .detail-infor-doctor{
        border-top: 1px solid #ccc;
        height: auto;
        background-color: #f5f5f5;
        margin-top: 30px;
        padding: 30px 0 30px 0;
        min-height: 400px;

        h5{
           font-size: 18px;
        }
        li{
            font-size: 14px;
        }
    }
    .comment-doctor{

    }
}

/*Booking*/
.booking-container{
   
    .booking-heading{
        padding: 0px 450px;
        height: 120px;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #e9e9e9;

        .content-left{
            margin-right: 10px;

            img{
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }
        }
        .content-right{

            p{
                font-weight: 600;
                color: #49bce2;
                margin-bottom: 0;
            }
            span{
                font-size: 10;
                font-weight: 300;
            }
        }
    }
    .booking-infor{
        height: 600px;
        padding: 0px 450px 0px 450px;
        margin-top: 10px;

        .booking-infor-price{
           padding-bottom: 15px;
           margin-top: 0px;
           font-size: 20px;
           font-weight: 600;
        }
        .booking-button{
            text-align: center;
            margin-top: 10px;
            button{
                padding: 8px 20px;
                color: #fff;
                font-weight: 600;
                overflow: hidden;
                background-color: #f7d800;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                min-width: 180px;
            }
        }
    }
}
.update-infor-booking{
    border: none;
    background-color: #49bce2;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.detail-specialty-container{
    .detail-specialty-top{
        .description-specialty{
            min-height: 200px;
            li{
                font-size: 13px;
            }
            h6{
                font-size: 16px;
            }
            h4{
                font-size: 20px;
                font-weight: 700;
            }
            p{
                font-size: 14px;
            }
            .btn-showmore{
                color: #49bce2;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 0px;
                padding-bottom: 10px;
            }
        }
    }
    .select-province{
        width: 200px;
    }

    .each-doctor{
        min-height: 600px;
        background-color: #e9e9e9;
        padding-bottom: 30px;
        padding-top: 20px;
        
        .wrap-doctor-infor{
            display: flex;
            min-height: 300px;
            background-color: #fff;
            box-shadow: 0 1px 6px rgba(32,33,36,0.28);
            padding: 20px 0px;
            margin-top: 20px;
            .content-left-doctor{
                flex: 1;
                border-right: 1px solid #e9e9e9;
                .more-detail-doctor{
                    margin-left: 20px;
                    color: #49bce2;
                    font-weight: 600;
                }
                .infor-doctor{
                    display: flex;
                    align-items: center;
                    margin-top: 5px !important;
                    .content-left{
                        img{
                            width: 100px !important;
                            height: 100px !important;
                            border-radius: 50%;
                        }
                    }
                    .content-right{
                        margin-left: 10px !important;
                        padding-right: 0px !important;
                        h3{
                            font-size: 22px !important;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
                
            }
            .content-right-doctor{
                flex: 1;
                margin-left: 20px;
                .doctor-extra-infor-container{
                    padding-left: 0 !important
                }
            }
        }
    }
}

.detail-clinic-container{
    .detail-clinic-background{
        position: relative;
        display: flex;
        justify-content: center;
        img{
            height: 350px;
            width: 100%;
        }
        .wrap-clinic-infor{
            display: flex;
            align-items: center;
            position: absolute;
            bottom: -30px;
            height: 200px;
            background-color: #fff;
            opacity: 0.8;
            box-shadow: 0 1px 6px rgba(32,33,36,0.28);
            img{
                height: 120px;
                width: 150px;
                margin-left: 20px;
                opacity: none;
                object-fit: contain;
            }
            .wrap-clinic-name{
                margin-left: 30px;
                opacity: none;
            }
        }
    }
    .wrap-description-clinic{
        font-family: 'Poppins', sans-serif;
        margin-top: 50px;
        padding-bottom: 30px;

        p{
          font-size: 17px;
            img{
                display: block;
                margin: auto; 
                max-width: 620px;
                max-height: 350px;
            }
        }
        li{
          font-size: 17px;
            img{
                display: block;
                margin: auto; 
            }
        }
        h4{
            color: #49bce2;
        }
        
    }
    .wrap-doctor-infor{
        display: flex;
        min-height: 300px;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(32,33,36,0.28);
        padding: 20px 0px;
        margin-top: 60px !important;
        .content-left-doctor{
            flex: 1;
            border-right: 1px solid #e9e9e9;
            .more-detail-doctor{
                margin-left: 20px;
                color: #49bce2;
                font-weight: 600;
            }
            .infor-doctor{
                display: flex;
                align-items: center;
                margin-top: 5px !important;
                .content-left{
                    img{
                        width: 100px !important;
                        height: 100px !important;
                        border-radius: 50%;
                    }
                }
                .content-right{
                    margin-left: 10px !important;
                    padding-right: 0px !important;
                    h3{
                        font-size: 22px !important;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            
        }
        .content-right-doctor{
            flex: 1;
            margin-left: 20px;
            .doctor-extra-infor-container{
                padding-left: 0 !important
            }
        }
    }
}

.specialty-list-content{
    min-height: 700px;
    padding-bottom: 30px;
    .specialty-list-heading{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        h4{
            flex: 3;
        }
        .input-search{
            flex: 1;
            width: 200px;
        }
    }
    .specialty-item{
        height:140px;
        display: flex;
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        div{
          img{
              width: 100%;
              background-color: #fff;
              object-fit: cover;
              height: 100%;
          }
        }
        p{
            flex: 3;
            margin-left: 20px;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            align-items: center;
        }

      }
      .clinic-item{
        height:140px;
        display: flex;
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        div{
          img{
              width: 100%;
              background-color: #fff;
              object-fit: contain;
              height: 100%;
          }
        }
        p{
            flex: 3;
            margin-left: 20px;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            align-items: center;
        }
      }
}


.doctor-list-content{
    min-height: 700px;
    padding-bottom: 30px;
    .doctor-list-heading{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
        h4{
            flex: 3;
        }
        .input-search{
            flex: 1;
            width: 200px;
        }
    }
    .doctor-item{
        height:140px;
        display: flex;
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        img{
            width: 140px;

        }
        div{
            flex: 3;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            span{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
.icon-back{
    font-size: 26px;
    margin-top: 10px;

    &:hover{
        color: #49bce2;
    }
}
.has-dropdown {
    position: relative;
    list-style-type: none;
    &:hover .sub-menu{
        display: block;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    .sub-menu {
        z-index: 100000;
        display: none;
        position: absolute;
        top: 40px;
        background-color: #fff;
        padding: 0;
        margin: 0;
        right: 0;
        list-style: none;
        border-radius: 5px;
        min-width: 170px;
        box-shadow: 6px 6px 20px 6px rgba(143, 143, 143, 0.19);
        li{
            p{
                padding: 8px 20px;
                color: #333;
                display: block;
                font-size: 16px;
                text-decoration: none; 
                margin-bottom: 0px;
            }
            &:hover {
                background-color: #e9e9e9;
                border-radius: 5px;
              }

        }
    }

}

/* Handbook */
.detail-handbook-container{
  min-height: 750px;
  .detail-handbook-background{
      height: 300px;
      position: relative;
      display: flex;
      justify-content: center;
      img{
          height: 300px;
          width: 100%;
      }
      div{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        align-items: center;
        span{
          margin-bottom: 5px;
        }   
        h3{
        font-family: 'Poppins', sans-serif;
        /* color: #fff; */
        }
      }
  }
  .wrap-description-handbook {
    margin-top: 20px;
    display: flex;
    .wrapper-handbook-content{
      padding: 20px;
      background-color: #fff;
      flex: 2;
      border-radius: 3px;
      img{
        width: 100%;
      }

      p{
        font-family: 'Poppins', sans-serif;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }
      
      th, td {
        border: 1px solid #ddd; 
        padding: 8px; 
        text-align: left; 
      }
      
      th {
        background-color: #f2f2f2; 
      }
    }
    .wrapper-handbook-keyword{
      flex: 1;
      .wrapper-keyword{
        padding: 10px;
        background-color: #fff;
        margin-left: 20px;
        border-radius: 3px;
        h4{
          border-bottom: 5px solid #eea60c;
          padding-bottom: 5px;
        }
        p{
          margin-bottom: 8px;
        }
        li{
          margin-top: 5px;
        }

      }
    }
  }
}

/*Profile */
.profile-container{
    display: flex;

    .profile-avatar{
        flex: 2;
        text-align: center;

        .image-avatar{
            width: 200px;
            height: 200px;
            margin-top: 30px;
            border-radius: 50%;
            border: 5px solid #ccc;
            object-fit: cover;
            
        }
        .input-file{
            text-align: center;
            margin-top: 15px;
        }
    }

    .profile-content{
        flex: 3;
    }
}

#page-content {
    position: fixed;
    bottom: -50px;
    right: 80px;
    z-index: 10000;
  }
  #chat-content{
    overflow-y: scroll !important;
    height: 400px !important;
  }
  .card-bordered {
    border: 3px solid #ccc;
  }
  
  .card {
    border: 0;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    -webkit-transition: .5s;
    transition: .5s;
    border: 2px solid #e6e5e5;
    width: 500px;
  }
  
  .padding {
    padding: 3rem !important
  }
  
  body {
    background-color: #f9f9fa
  }
  
  .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  }
  
  
  .card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(77,82,89,0.07);
  }
  
  .card-header .card-title {
    padding: 0;
    border: none;
  }
  
  h4.card-title {
    font-size: 17px;
  }
  
  .card-header>*:last-child {
    margin-right: 0;
  }
  
  .card-header>* {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .btn-secondary {
    color: #4d5259 !important;
    background-color: #e4e7ea;
    border-color: #e4e7ea;
    color: #fff;
  }
  
  .btn-xs {
    font-size: 11px;
    padding: 2px 8px;
    line-height: 18px;
  }
  .btn-xs:hover{
    color:#fff !important;
  }
  
  .card-title {
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(77,82,89,0.07);
  }
  
  
  .ps-container {
    position: relative;
  }
  
  .ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
  }
  
  .media-chat {
    padding-right: 64px;
    margin-bottom: 0;
  }
  
  .media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
  }
  
  .media .avatar {
    flex-shrink: 0;
  }
  
  .avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
  }
  
  .media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table;
  }
  
  .media-body {
    min-width: 0;
  }
  
  .media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 300;
    color:#181818;
  
  }
  
  .media>* {
    margin: 0 8px;
  }
  
  .media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
  }
  
  .media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
  }
  
  .media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
  }
  
  .media-meta-day::before {
    margin-right: 16px;
  }
  
  .media-meta-day::before, .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
  }
  
  .media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
  }
  
  .media-meta-day::after {
    margin-left: 16px;
  }
  
  .media-chat-reverse {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center; 
    margin-bottom: 10px; 
  }
  
  .media-chat-reverse .media-body {
    padding-left: 10px; 
  }
  
  .media-chat-reverse .avatar {
    margin-left: 10px;
  }
  
  .media-chat {
    padding-right: 64px;
    margin-bottom: 0;
  }
  
  .media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
  }
  
  .media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff;
  }
  
  .media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
  }
  
  
  .border-light {
    border-color: #f1f2f3 !important;
  }
  
  .bt-1 {
    border-top: 1px solid #ebebeb !important;
  }
  
  .publisher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
  }
  
  .publisher>*:first-child {
    margin-left: 0;
  }
  
  .publisher>* {
    margin: 0 8px;
  }
  
  .publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
  }
  
  button, input, optgroup, select, textarea {
    font-family: Roboto,sans-serif;
    font-weight: 300;
  }
  
  .publisher-btn {
    background-color: red;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }
  
  .file-group {
    position: relative;
    overflow: hidden;
  } 
  
  .publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  } 
  
  .file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1; 
    width: 20px;
  }
  
  .text-info {
    color: #48b0f7 !important;
    font-weight: 600;
    font-size: 18px;
  }

  //History
  .container-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .wrapper-item-history {
    display: flex;
    height: 274px;
    width: 930px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 20px 40px 40px 40px;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
  }

  .wrapper-content-history{
    border-bottom: 1px solid #cac7c7;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .wrapper-history-left{
    flex: 1;
    height: 185px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .wrapper-history-left h6 {
    color: #48b0f7;
    margin-top: 5px;
  }

  .wrapper-history-icon{
    width: 80px;
    height: 80px;
    border: 1px solid #cac7c7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper-history-icon img{
    width: 40px;
    height: 50px;
  }

  .wrapper-history-right{
    position: relative;
    flex: 3;
  }

  .wrapper-history-right b {
    color: #48b0f7;
    font-weight: 550;
  }

  .wrapper-time-history span{
    color: rgb(255, 193, 14) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
  }

  .wrapper-time-history div{
    display: flex;
    align-items: center;
  }

  .icon-history{
    color: rgb(255, 193, 14) !important;
    font-size: 20px;
    line-height: 1.5 !important;
    margin-right: 5px;
  }
  
  .wrapper-history-right p{
    font-size: 18px;
    margin-bottom: 0px;
  }

  .wrapper-history-right div{
    margin-top: 10px;
    width:25%;
    height: 30px;
    padding-left: '10px';
    border: 1px solid green;
    font-size: 18px;
    border-radius: 3px;
  }

  .wrapper-history-right .icon-status{
    color: green;
    margin-right: 5px;
    font-size: 18px;
    margin-left: 5px;
  }

  .wrapper-history-right i{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .icon-status-new{
    color: rgb(196, 196, 0);
    margin-right: 5px;
    font-size: 18px;
    margin-left: 5px;
  }

  .icon-status-cancel{
    color: #4d5259;
    margin-right: 5px;
    font-size: 18px;
    margin-left: 5px;
  }

  .QRcode{
    position: absolute;
    left: 0;
  }

  .QRcode .ant-qrcode {
    background-color: rgb(248, 248, 248) !important;
  }

  .ant-breadcrumb-link{
    color: #49bce2;
    font-size: 14px;
    font-weight: 500;
  }
  .error-yup{
    color: red;
    font-size: 12px;
    margin: 0px;
  }
  .cancel-booking{
    padding: 5px 10px;
    position: absolute;
    border-radius: 5px;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:hover{
      background-color: rgb(223, 3, 3);
    }
  }
